<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.bookstore.all.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="io.bookstore.all.entity.Book">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="work_direction" jdbcType="TINYINT" property="workDirection" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="book_status" jdbcType="TINYINT" property="bookStatus" />
    <result column="visit_count" jdbcType="BIGINT" property="visitCount" />
    <result column="word_count" jdbcType="INTEGER" property="wordCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="last_index_id" jdbcType="BIGINT" property="lastIndexId" />
    <result column="last_index_name" jdbcType="VARCHAR" property="lastIndexName" />
    <result column="last_index_update_time" jdbcType="TIMESTAMP" property="lastIndexUpdateTime" />
    <result column="is_vip" jdbcType="TINYINT" property="isVip" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="crawl_source_id" jdbcType="INTEGER" property="crawlSourceId" />
    <result column="crawl_book_id" jdbcType="VARCHAR" property="crawlBookId" />
    <result column="crawl_last_time" jdbcType="TIMESTAMP" property="crawlLastTime" />
    <result column="crawl_is_stop" jdbcType="TINYINT" property="crawlIsStop" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, work_direction, cat_id, cat_name, pic_url, book_name, author_id, author_name, 
    book_desc, score, book_status, visit_count, word_count, comment_count, last_index_id, 
    last_index_name, last_index_update_time, is_vip, status, update_time, create_time, 
    crawl_source_id, crawl_book_id, crawl_last_time, crawl_is_stop
  </sql>
  <select id="selectByExample" parameterType="io.bookstore.all.entity.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from book
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="io.bookstore.all.entity.BookExample">
    delete from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.bookstore.all.entity.Book">
    insert into book (id, work_direction, cat_id, 
      cat_name, pic_url, book_name, 
      author_id, author_name, book_desc, 
      score, book_status, visit_count, 
      word_count, comment_count, last_index_id, 
      last_index_name, last_index_update_time, is_vip, 
      status, update_time, create_time, 
      crawl_source_id, crawl_book_id, crawl_last_time, 
      crawl_is_stop)
    values (#{id,jdbcType=BIGINT}, #{workDirection,jdbcType=TINYINT}, #{catId,jdbcType=INTEGER}, 
      #{catName,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, 
      #{authorId,jdbcType=BIGINT}, #{authorName,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, 
      #{score,jdbcType=REAL}, #{bookStatus,jdbcType=TINYINT}, #{visitCount,jdbcType=BIGINT}, 
      #{wordCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{lastIndexId,jdbcType=BIGINT}, 
      #{lastIndexName,jdbcType=VARCHAR}, #{lastIndexUpdateTime,jdbcType=TIMESTAMP}, #{isVip,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{crawlSourceId,jdbcType=INTEGER}, #{crawlBookId,jdbcType=VARCHAR}, #{crawlLastTime,jdbcType=TIMESTAMP}, 
      #{crawlIsStop,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="io.bookstore.all.entity.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workDirection != null">
        work_direction,
      </if>
      <if test="catId != null">
        cat_id,
      </if>
      <if test="catName != null">
        cat_name,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
      <if test="bookDesc != null">
        book_desc,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="bookStatus != null">
        book_status,
      </if>
      <if test="visitCount != null">
        visit_count,
      </if>
      <if test="wordCount != null">
        word_count,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="lastIndexId != null">
        last_index_id,
      </if>
      <if test="lastIndexName != null">
        last_index_name,
      </if>
      <if test="lastIndexUpdateTime != null">
        last_index_update_time,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="crawlSourceId != null">
        crawl_source_id,
      </if>
      <if test="crawlBookId != null">
        crawl_book_id,
      </if>
      <if test="crawlLastTime != null">
        crawl_last_time,
      </if>
      <if test="crawlIsStop != null">
        crawl_is_stop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="workDirection != null">
        #{workDirection,jdbcType=TINYINT},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null">
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="bookStatus != null">
        #{bookStatus,jdbcType=TINYINT},
      </if>
      <if test="visitCount != null">
        #{visitCount,jdbcType=BIGINT},
      </if>
      <if test="wordCount != null">
        #{wordCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="lastIndexId != null">
        #{lastIndexId,jdbcType=BIGINT},
      </if>
      <if test="lastIndexName != null">
        #{lastIndexName,jdbcType=VARCHAR},
      </if>
      <if test="lastIndexUpdateTime != null">
        #{lastIndexUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlSourceId != null">
        #{crawlSourceId,jdbcType=INTEGER},
      </if>
      <if test="crawlBookId != null">
        #{crawlBookId,jdbcType=VARCHAR},
      </if>
      <if test="crawlLastTime != null">
        #{crawlLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlIsStop != null">
        #{crawlIsStop,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.bookstore.all.entity.BookExample" resultType="java.lang.Long">
    select count(*) from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update book
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.workDirection != null">
        work_direction = #{record.workDirection,jdbcType=TINYINT},
      </if>
      <if test="record.catId != null">
        cat_id = #{record.catId,jdbcType=INTEGER},
      </if>
      <if test="record.catName != null">
        cat_name = #{record.catName,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bookName != null">
        book_name = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.authorId != null">
        author_id = #{record.authorId,jdbcType=BIGINT},
      </if>
      <if test="record.authorName != null">
        author_name = #{record.authorName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookDesc != null">
        book_desc = #{record.bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.bookStatus != null">
        book_status = #{record.bookStatus,jdbcType=TINYINT},
      </if>
      <if test="record.visitCount != null">
        visit_count = #{record.visitCount,jdbcType=BIGINT},
      </if>
      <if test="record.wordCount != null">
        word_count = #{record.wordCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null">
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.lastIndexId != null">
        last_index_id = #{record.lastIndexId,jdbcType=BIGINT},
      </if>
      <if test="record.lastIndexName != null">
        last_index_name = #{record.lastIndexName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastIndexUpdateTime != null">
        last_index_update_time = #{record.lastIndexUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isVip != null">
        is_vip = #{record.isVip,jdbcType=TINYINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crawlSourceId != null">
        crawl_source_id = #{record.crawlSourceId,jdbcType=INTEGER},
      </if>
      <if test="record.crawlBookId != null">
        crawl_book_id = #{record.crawlBookId,jdbcType=VARCHAR},
      </if>
      <if test="record.crawlLastTime != null">
        crawl_last_time = #{record.crawlLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.crawlIsStop != null">
        crawl_is_stop = #{record.crawlIsStop,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update book
    set id = #{record.id,jdbcType=BIGINT},
      work_direction = #{record.workDirection,jdbcType=TINYINT},
      cat_id = #{record.catId,jdbcType=INTEGER},
      cat_name = #{record.catName,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      book_name = #{record.bookName,jdbcType=VARCHAR},
      author_id = #{record.authorId,jdbcType=BIGINT},
      author_name = #{record.authorName,jdbcType=VARCHAR},
      book_desc = #{record.bookDesc,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      book_status = #{record.bookStatus,jdbcType=TINYINT},
      visit_count = #{record.visitCount,jdbcType=BIGINT},
      word_count = #{record.wordCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      last_index_id = #{record.lastIndexId,jdbcType=BIGINT},
      last_index_name = #{record.lastIndexName,jdbcType=VARCHAR},
      last_index_update_time = #{record.lastIndexUpdateTime,jdbcType=TIMESTAMP},
      is_vip = #{record.isVip,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      crawl_source_id = #{record.crawlSourceId,jdbcType=INTEGER},
      crawl_book_id = #{record.crawlBookId,jdbcType=VARCHAR},
      crawl_last_time = #{record.crawlLastTime,jdbcType=TIMESTAMP},
      crawl_is_stop = #{record.crawlIsStop,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.bookstore.all.entity.Book">
    update book
    <set>
      <if test="workDirection != null">
        work_direction = #{workDirection,jdbcType=TINYINT},
      </if>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null">
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
      <if test="bookStatus != null">
        book_status = #{bookStatus,jdbcType=TINYINT},
      </if>
      <if test="visitCount != null">
        visit_count = #{visitCount,jdbcType=BIGINT},
      </if>
      <if test="wordCount != null">
        word_count = #{wordCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="lastIndexId != null">
        last_index_id = #{lastIndexId,jdbcType=BIGINT},
      </if>
      <if test="lastIndexName != null">
        last_index_name = #{lastIndexName,jdbcType=VARCHAR},
      </if>
      <if test="lastIndexUpdateTime != null">
        last_index_update_time = #{lastIndexUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlSourceId != null">
        crawl_source_id = #{crawlSourceId,jdbcType=INTEGER},
      </if>
      <if test="crawlBookId != null">
        crawl_book_id = #{crawlBookId,jdbcType=VARCHAR},
      </if>
      <if test="crawlLastTime != null">
        crawl_last_time = #{crawlLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crawlIsStop != null">
        crawl_is_stop = #{crawlIsStop,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.bookstore.all.entity.Book">
    update book
    set work_direction = #{workDirection,jdbcType=TINYINT},
      cat_id = #{catId,jdbcType=INTEGER},
      cat_name = #{catName,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=BIGINT},
      author_name = #{authorName,jdbcType=VARCHAR},
      book_desc = #{bookDesc,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      book_status = #{bookStatus,jdbcType=TINYINT},
      visit_count = #{visitCount,jdbcType=BIGINT},
      word_count = #{wordCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      last_index_id = #{lastIndexId,jdbcType=BIGINT},
      last_index_name = #{lastIndexName,jdbcType=VARCHAR},
      last_index_update_time = #{lastIndexUpdateTime,jdbcType=TIMESTAMP},
      is_vip = #{isVip,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      crawl_source_id = #{crawlSourceId,jdbcType=INTEGER},
      crawl_book_id = #{crawlBookId,jdbcType=VARCHAR},
      crawl_last_time = #{crawlLastTime,jdbcType=TIMESTAMP},
      crawl_is_stop = #{crawlIsStop,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>